google-cloud-aiplatform[adk,agent_engines]>=1.90.0
Flask
mcp[cli]
google-adk
google-cloud-spanner
python-dateutil
humanize
nest_asyncio
asyncclick
google-adk[eval]
build
./agents/a2a_common-0.1.0-py3-none-any.whl